myservice.wsdl

<?xml version="1.0"?>
<definitions 
	name="StockQuote"
	targetNamespace="http://example.com/stockquote.wsdl"
	xmlns:tns="http://example.com/stockquote.wsdl"
	xmlns:xsd1="http://example.com/stockquote.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
       <schema 
       		targetNamespace="http://example.com/stockquote.xsd"
			xmlns="http://www.w3.org/2000/10/XMLSchema">
           	<element name="TradePriceRequest">
              	<complexType>
                  	<all>
                      	<element name="tickerSymbol" type="string"/>
                  	</all>
              	</complexType>
           	</element>
           	<element name="TradePrice">
              	<complexType>
                  	<all>
                      	<element name="price" type="float"/>
                  	</all>
              	</complexType>
           	</element>
           	<element name="TradePriceSubmit">
               	<complexType>
                   	<all>
                    	<element name="tickerSymbol" type="string"/>
                       	<element name="price" type="float"/>
                   	</all>
               	</complexType>
        	</element>
        	<element name="valid" type="boolean"/>
        	<element name="test" type="string"/>
    	</schema>
    </types>

    <message name="GetLastTradePriceInput">
        <part name="body" element="xsd1:TradePriceRequest"/>
    </message>

    <message name="GetLastTradePriceOutput">
        <part name="body" element="xsd1:TradePrice"/>
    </message>

    <message name="SetTradePriceInput">
        <part name="body" element="xsd1:TradePriceSubmit"/>
    </message>

    <message name="IsValidPriceInput">
        <part name="body" element="xsd1:TradePrice"/>
    </message>

    <message name="IsValidPriceOutput">
    	<part name="body" element="xsd1:valid"/>
    </message>

    <message name="TestInput">
    	<part name="body" element="xsd1:test"></part>
    </message>
    <message name="TestOutput">
    	<part name="body" element="xsd1:test"></part>
    </message>

    <portType name="StockQuotePortType">

        <operation name="GetLastTradePrice">
        	<input message="tns:GetLastTradePriceInput"/>
        	<output message="tns:GetLastTradePriceOutput"/>
        </operation>

        <operation name="SetTradePrice">
        	<input message="tns:SetTradePriceInput"/>
        </operation>

        <operation name="IsValidPrice">
            <input message="tns:IsValidPriceInput"/>
            <output message="tns:IsValidPriceOutput"/>
        </operation>

        <operation name="Test">
        	<input message="tns:TestInput"/>
        	<output message="tns:TestOutput"/>
        </operation>

    </portType>

    <binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetLastTradePrice">
           	<soap:operation soapAction="http://example.com/GetLastTradePrice"/>
           	<input>
               	<soap:body use="literal"/>
          	</input>
           	<output>
            	<soap:body use="literal"/>
           	</output>
        </operation>
        <operation name="SetTradePrice">
            <soap:operation soapAction="http://example.com/SetTradePrice"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="IsValidPrice">
            <soap:operation soapAction="http://example.com/IsValidPrice"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>

    <service name="MyService">
        <port name="MyPort" binding="tns:StockQuoteSoapBinding">
        	<soap:address location="http://localhost:8001/wsdl"/>
        </port>
    </service>

</definitions>